---
import Layout from '../layouts/Layout.astro';
import TariffGame from '../components/TariffGame';
---

<Layout title="Tariff - Global Trade Simulation">
  <main>
    <TariffGame client:only="react" />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
</style> 